permissions:
  pull-requests: write
name: Terraform Multi-Agent Review

on:
  pull_request:
    branches: [ main ]

jobs:
  review:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}

    steps:
      - uses: actions/checkout@v3

      - name: Install Terrascan
        run: |

          curl -L https://github.com/tenable/terrascan/releases/download/v1.18.4/terrascan_1.18.4_Linux_x86_64.tar.gz -o terrascan.tar.gz
          tar -xzf terrascan.tar.gz
          sudo mv terrascan /usr/local/bin/
          terrascan version
      - name: Run Scan
        run: |
           terrascan scan -i terraform -o json > scan.json
        continue-on-error: true


      - name: Comment Terrascan Results on PR
        uses: peter-evans/create-or-update-comment@v3
        with:
          issue-number: ${{ github.event.number }}
          body: |
            **Terrascan Results**
            ```
            $(cat scan.json)
            ```
       

      - name: Upload
        run: aws s3 cp scan.json s3://tf-scan-results-10989c77/${{ github.event.number }}.json

      - name: Start Step Function
        run: |
          aws stepfunctions start-execution \
          --state-machine-arn arn:aws:states:us-east-1:998948478488:stateMachine:tf-review-state-machine \
          --input '{"pr_number": "${{ github.event.number }}"}'
